DB_PW=
DB_URL=
DB_USER=
DOMAIN=
DEV_DOMAIN=
FIREBASE_SERVICE_ACCOUNT_B64=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
JWT_SECRET_KEY=
KAKAO_NATIVE_APP_KEY=
S3_BUCKET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_BUCKET_SECRET_KEY=
S3_KMS_KEY_ID=
SPRING_PROFILES_ACTIVE=
